# Port that the app will run on
PORT=3001

# Passport.js Session Secret
SESSION_SECRET=SessionSecret

# PostgreSQL Database URL
DATABASE_URL=postgresql://username:password@localhost:5432/database

# Redis configuration
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379

# Optional authentication
REDIS_USERNAME=
REDIS_PASSWORD=

# Enable TLS when connecting to a TLS-enabled Redis (e.g., Redis Cloud)
REDIS_TLS=false