<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Members Only - <%= typeof title !== 'undefined' ? title : 'Error' %>
    </title>
  </head>
  <body>
    <h1><%= typeof title !== 'undefined' ? title : 'Error' %></h1>

    <div style="color: red; margin-bottom: 20px">
      <p><%= message %></p>
    </div>

    <p><a href="/">Go back to home</a></p>
  </body>
</html>
