<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>membersonly</title>
    <%- include("partials/styles") %>
  </head>
  <body>
    <%- include("partials/header") %>

    <main class="main">
      <% if (success === "delete") { %>
        <div class="success">
          <div class="success__title">✅ Account deleted successfully</div>
          <p class="success__message">Your account has been deleted successfully</p>
        </div>
      <% } %>

      <%- include("partials/messages", { showAuthor: true }) %>
    </main>
  </body>
</html>
