<header class="header">
  <h1 class="logo">
    <a href="/">members<span class="logo__highlight">only</span></a>
  </h1>

  <div class="auth-links">
    <% if (isAuthenticated) { %>
      <% if (user.isMember) { %>
        <a href="/messages/create">Create Message</a>
      <% } %>

      <a href="/account"><%= user.username %></a>
      <a href="/auth/logout">Logout</a>
    <% } else { %>
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
    <% } %>
  </div>
</header>